
<!DOCTYPE html>
<html ng-app="quoteBook">
  <head>
    <meta charset="UTF-8">
    <title>title</title>

  </head>
  <body ng-controller="mainCtrl">

		<input type="text" placeholder="Add new quote!" ng-model='newQuoteText'>
		<input type="text" placeholder="Quotes author!" ng-model='newQuoteAuthor'>
		<button ng-click="addQuote()">Add Quote</button>
		<div>
			<!-- Filter: <input type="text" ng-model='filterText'/> -->
      Filter:<input ng-model = 'whatevdr'></input>
		</div>

  	<p ng-repeat="quote in quotes | filter: whatevdr">
			<span>{{quote.text}}</span>
			<span>~~~~~{{quote.author}}</span>
      <button ng-click="delete(quote.text)">Delete</button>
			<!-- <button ng-click = "deleteMe(quote.text)">Delete</button> -->
		</p>





		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controller.js"></script>
		<script src='js/mainService.js'></script>
  </body>
</html>
